<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}">
  <th:block layout:fragment="css">
    
    <link rel="stylesheet" th:href="@{/css/login.css}">
  </th:block>
  <main layout:fragment="content">
    
<div class="login-block container d-block">
  <!-- Heading -->
  <h1 class="title text-center fw-bold mt-3" id="title">로그인</h1>
  
  <!-- Links -->
  <ul class="links d-flex w-100 list-unstyled my-4" id="links">
    <li class="link me-3" th:classappend="${securityUserDTO.name != null} ? '' : 'active'" id="loginTab">
      <span id="signin">로그인</span>
    </li>
    <li class="link " th:classappend="${securityUserDTO.name == null} ? '' : 'active'" id="registerTab">
      <span id="signup" >회원가입</span>
    </li>
    <li class="link ms-auto">
      <span id="reset">초기화</span>
    </li>
  </ul>

  <!-- 로그인 폼 -->
  <form  th:action="@{/user/login}" method="post" class="w-100 mx-auto d-flex flex-column" th:classappend="${securityUserDTO.name != null} ? ' d-none' : ''" id="loginForm">
       <input type="text" placeholder="아이디 입력" class="form-control-lg mb-3" id="username" name="username"/>
       <input type="password" placeholder="비밀번호 입력" class="form-control-lg mb-3" id="password" name="password"/>
       
    <!-- sign in button -->
    <button class="site-btn w-100 mt-1">
      로그인
    </button>
  </form >
  <!-- 회원가입 폼 -->
  <form  th:action="@{/user/register}" th:object="${securityUserDTO}" method="post" class="w-100 mx-auto d-flex flex-column" th:classappend="${securityUserDTO.name == null} ? ' d-none' : ''" id="registerForm">
       <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
       <input type="text" placeholder="이름 입력" class="form-control-lg mb-3" name="name" th:field="*{name}"/>
       <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></div>
       <input type="text" placeholder="아이디 입력" class="form-control-lg mb-3" id="id" name="id" th:field="*{id}"/>
       <div th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="text-danger"></div>
       <input type="password" placeholder="비밀번호 입력" class="form-control-lg mb-3" name="password" th:field="*{password}"/>
       <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></div>
    <!-- sign in button -->
    <button class="site-btn w-100 mt-1">
      회원가입
    </button>
  </form >
  <!-- separator -->
  <div class="separator w-100">
    <p class="w-100" style="color: white;">OR</p>
  </div>
        <!-- Google -->
        <button id="google-login" class="social-login-btn google-login d-flex align-items-center justify-content-center w-100 mb-3">
          <img th:src="@{/social/googleSquare.png}" alt="구글로고" class="social-login-img"/>
          <span class="social-login-text">구글로 로그인</span>
        </button>
        <!-- Kakao -->
        <button id="kakao-login" class="social-login-btn kakao-login d-flex align-items-center justify-content-center w-100 mb-3">
          <img th:src="@{/social/kakaoSquareReal.png}" alt="카카오로고" class="social-login-img"/>
          <span class="social-login-text">카카오로 로그인</span>
        </button>
        <!-- Naver -->
        <button id="naver-login" class="social-login-btn naver-login d-flex align-items-center justify-content-center w-100 mb-3">
          <img th:src="@{/social/naverSquare.png}" alt="네이버로고" class="social-login-img"/>
          <span class="social-login-text">네이버로 로그인</span>
        </button>
      
</div>

    
    <th:block layout:fragment="script">
      <script th:src="@{/js/login.js}"></script>
      <script th:if="${param.error}">
    alert('아이디 또는 비밀번호가 잘못되었습니다.');
  </script>
    </th:block>
  </main>
</html>
