<!DOCTYPE html>
<html lang="en">
  <header class="header" th:fragment="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <div class="header__logo">
            <!-- <a href="./index.html">
              <img src="img/logo.png" alt="" />
            </a> -->
          </div>
        </div>

        <div class="col-lg-8">
          <div class="header__nav">
            <nav class="header__menu mobile-menu">
              <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li>
                  <!-- <a th:href="@{/api/movies/list}">Movie List<span class="arrow_carrot-down"></span></a> -->
                  <a th:href="@{/api/movies/list}">Movie List</a>
                  <!-- <ul class="dropdown">
                    <li><a href="./categories.html">Categories</a></li>
                    <li><a href="./anime-details.html">Anime Details</a></li>
                    <li><a href="./anime-watching.html">Anime Watching</a></li>
                    <li><a href="./blog-details.html">Blog Details</a></li>
                    <li><a href="./signup.html">Sign Up</a></li>
                    <li><a href="./login.html">Login</a></li>
                  </ul> -->
                </li>
                <li><a th:href="@{/api/games/list}">Game List</a></li>
                <!-- <li><a href="#">Webtoon List</a></li> -->
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="header__right d-flex align-items-center gap-3">
            <a href="#" class="search-switch me-2">
              <span class="icon_search"></span>
            </a>

            <!-- 로그인: 프로필 이미지 -->
            <a
              th:if="${profileImageUrl != null}"
              th:href="@{/user/userProfile}"
              class="d-flex align-items-center text-decoration-none"
            >
              <img
                th:src="'/images/view/' + ${profileImageUrl}"
                alt="프로필"
                class="rounded-circle border border-primary shadow-sm"
                style="width: 40px; height: 40px; object-fit: cover; background: #eee"
              />
            </a>
            <!-- 비로그인: 기본 아이콘 -->
            <a
              th:if="${profileImageUrl == null}"
              th:href="@{/user/login}"
              class="d-flex align-items-center text-decoration-none"
            >
              <span class="icon_profile fs-3"></span>
            </a>
          </div>
        </div>
      </div>
      <div id="mobile-menu-wrap"></div>
    </div>
  </header>
</html>
