<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}">
  <th:block layout:fragment="title"><title>이미 가입된 소셜 계정</title></th:block>
  <th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/error.css}">
  </th:block>
  <main layout:fragment="content">
    <div class="card error-card text-center p-4">
      <div class="error-icon">
        <i class="bi bi-exclamation-triangle-fill"></i>
      </div>
      <h3 class="mb-3">요청하신 유저를 조회할 수 없습니다.</h3>
      <p class="mb-4 text-white">
        해당 유저는 존재하지 않습니다.<br />
      <a th:href="@{/}" class="btn btn-primary mt-2">홈 화면으로 돌아가기</a>
    </div>
  </main>
  
</html>
