<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MovieInfo</title>
  </head>
  <body>
    <div layout:fragment="content">
      <section class="hero">
        <div class="container">
          <div class="col-lg-6">
            <div class="anime__details__text">
              <div class="anime__details__title">
                <h3 th:text="${movieInfo.title}"></h3>
                <p th:text="${movieInfo.genres}"></p>
              </div>
            </div>
            <div class="hero__slider owl-carousel owl-loaded">
              <div class="hero__items set-bg" style="background-image: url('/img/sample.png')">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="hero__text">
                      <div class="label">Adventure</div>

                      <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- .hero__items -->
            </div>
            <!-- .hero__slider -->
          </div>
        </div>
        <!-- .container -->
      </section>

      <div class="col-lg-6">
        <div class="anime__details__review">
          <div class="section-title">
            <h5 id="replyCnt" th:text="'댓글 '+${replies.size} + 개"></h5>
          </div>
          <div class="p-4"></div>
          <!-- 댓글 시작 -->
          <div th:each="reply : ${replies}" class="anime__review__item">
            <div class="anime__review__item__pic" th:classappend="${reply.ref != null} ? 're-reply'">
              <img src="img/anime/review-1.jpg" alt="" />
            </div>
            <div
              class="anime__review__item__text reply"
              th:data-rno="${reply.rno}"
              th:data-replyer="${reply.replyer}"
              th:data-text="${reply.text}"
              th:data-id="${reply.mid}"
              th:data-mention="${reply.mention}"
              th:data-ref="${reply.ref}"
            >
              <span class="replyer text-light" th:text="${reply.replyer}"></span>
              <span class="text-secondary" th:if="${reply.mention}" th:text="' - '+${reply.mention}+에게"></span>
              <span class="text-secondary" th:text="${reply.createdDate}"> 작성자 - 1 Hour ago</span>
              <button type="button" class="delete-btn btn btn-secondary btn-sm" th:data-rno="${reply.rno}">x</button>
              <button type="button" class="update-btn btn btn-secondary btn-sm" th:data-rno="${reply.rno}">수정</button>
              <button type="button" class="mention-btn btn btn-secondary btn-sm" th:data-rno="${reply.rno}">
                대댓글 달기
              </button>
              <p th:text="${reply.text}">댓글 텍스트</p>
            </div>
          </div>
          <!-- 댓글 리스트 끝-->
        </div>

        <!-- 댓글 작성 폼 -->
        <div class="anime__details__form">
          <div class="section-title">
            <h5>댓글 작성</h5>
          </div>
          <span class="mention text-light"></span>
          <form id="replyForm" method="post">
            <input type="hidden" name="mid" th:value="${movieInfo.mid}" />
            <!-- ToDo 실제 사용자의 아이디를 받아야함 todo -->
            <input type="hidden" name="rno" />
            <input type="hidden" name="replyer" th:value="user1" />
            <input type="hidden" name="mention" />
            <input type="hidden" name="ref" />
            <textarea name="text" placeholder="Your Comment"></textarea>
            <button class="btn btn-insert" type="submit" style="font-size: medium">등록</button>
            <button class="btn btn-cancel" type="button" style="font-size: medium">취소</button>
          </form>
        </div>
        <!-- 댓글 작성 폼 끝 -->
      </div>

      <script>
        const mid = "[[${movieInfo.mid}]]";
      </script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script th:src="@{/js/reply.js}"></script>
    </div>
    <!-- layout:fragment="content" 닫기 -->
  </body>
</html>
